<p-toast></p-toast>
<nav class="navbar navbar-expand-sm navbar-light bg-color-blue px-4 shadow-sm">

  <h1> 🛒WELCOME TO E-COMMERCE</h1>


 
  <div class="dropdown me-3 ms-4">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="categoryDropdown"
      data-bs-toggle="dropdown" aria-expanded="false">
      🏷️{{selectedCategory}}
    </button>
    <ul class="dropdown-menu" aria-labelledby="categoryDropdown">
      <li><button class="dropdown-item" (click)="selectedCategory = 'Electronics'; applyFilters()">Electronics</button>
      </li>
      <li><button class="dropdown-item" (click)="selectedCategory = 'Fashion'; applyFilters()">Fashion</button></li>
      <li><button class="dropdown-item" (click)="selectedCategory = 'Mobiles'; applyFilters()">Mobiles</button></li>
      <li><button class="dropdown-item" (click)="selectedCategory = 'All'; applyFilters()">All</button></li>
    </ul>
  </div>
  <div class="dropdown me-3">
    <button class="btn btn-outline-secondary dropdown-toggle" type="button" id="priceDropdown" data-bs-toggle="dropdown"
      aria-expanded="false">
      Filter
    </button>
    <ul class="dropdown-menu p-3" aria-labelledby="priceDropdown">
      <li>
        <input type="checkbox" id="p1" (change)="togglePriceRange(1000, 2000, $event)">
        <label for="p1">₹ 1000 - ₹ 2000</label>
      </li>
      <li>
        <input type="checkbox" id="p2" (change)="togglePriceRange(2000, 5000, $event)">
        <label for="p2">₹ 2000 - ₹ 5000</label>
      </li>
      <li>
        <input type="checkbox" id="p3" (change)="togglePriceRange(5000, 10000, $event)">
        <label for="p3">₹ 5000 - ₹ 10000</label>
      </li>
    </ul>
  </div>

 
  <form class="d-flex me-auto" (submit)="onSearch(searchInput.value); $event.preventDefault();">
    <input #searchInput class="searchbar" type="search" placeholder="Search products..." aria-label="Search" />
    <button class="searchbutton" type="submit">Search</button>
  </form>


 
  <div class="d-flex align-items-center">
    
    <div class="dropdown me-3">
      <button class="btn btn-outline-dark dropdown-toggle" type="button" id="profileDropdown" data-bs-toggle="dropdown"
        aria-expanded="false">
        👤 User
      </button>
      <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="profileDropdown">
        <li><span class="dropdown-item-text"><strong>👤 Name:</strong> {{ username }}</span></li>

        <li><span class="dropdown-item-text"><strong>🧾 Role:</strong> {{ userRole }}</span></li>
      </ul>
    </div>


    <a routerLink="/cart" class="btn btn-outline-primary position-relative me-2">
      🛒 Cart
      <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger"
        style="font-size: 0.75rem;">
        {{ cartCount }}
      </span>
    </a>

    <button class="btn btn-outline-danger" (click)="logout()">
      LogOut
    </button>
  </div>
</nav>




<ngb-carousel [interval]="2000" [wrap]="true" [showNavigationArrows]="true" [showNavigationIndicators]="true"
  #carousel="ngbCarousel">
  <ng-template ngbSlide>
    <img src="assets/images/newOne2.jpg" class="d-block w-100" style="height: 300px; object-fit: cover;" alt="Banner 1">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/carosel6.jpg" class="d-block w-100" style="height: 300px; object-fit: cover;"
      alt="Banner 2">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/carosel7.jpg" class="d-block w-100" style="height: 300px; object-fit: cover;"
      alt="Banner 3">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/newOne3.jpg" class="d-block w-100" style="height: 300px; object-fit: 150px;" alt="Banner 5">
  </ng-template>
  <ng-template ngbSlide>
    <img src="assets/images/newOne.jpg" class="d-block w-100" style="height: 300px; object-fit: 150px;" alt="Banner 5">
  </ng-template>
</ngb-carousel>

<br>

<div *ngIf="display">{{display}}</div>

<div class="container mt-4-auto">
  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let product of filteredProducts">
      <div class="card h-80 shadow-sm">
        <img [src]="product?.imageUrl" class="card-img" [alt]="product.name">
        <div class="card-body text-center bg-white text-black">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p><strong>₹{{ product.price }}</strong></p>
          <button class="btn btn-primary" (click)="addToCart(product)">Add to Cart</button>
        </div>
      </div>
    </div>
  </div>
</div>